:root {
    --background-color: #081931;
    --hover-color: #103871;
    --selected-category-color: green;
    --wrong-answer-color: rgb(180, 0, 0);
    --section-header: orange;
    --difficulty-easy-label: green;
    --difficulty-medium-label: rgb(228, 228, 0);
    --difficulty-hard-label: rgb(180, 0, 0);
}


body {
    color: aliceblue;
    background-color: var(--background-color);
}

label {
    padding: 1.5rem 1rem;
    width: 90%;
    margin: 0.3rem;
    border-radius: 1rem;
}

input[type="checkbox"] + label:hover {
    background-color: var(--hover-color);
}

input[type="checkbox"]:checked + label {
    background-color: var(--selected-category-color);
}


input[type="checkbox"] {
    visibility: hidden;
}

input[type="radio"] + label:hover {
    background-color: var(--hover-color);
}

input[type="radio"]:checked + label[for="easy"] {
    background-color: var(--selected-category-color);
}

input[type="radio"]:checked + label[for="medium"] {
    background-color: var(--difficulty-medium-label);
    color:black
}

input[type="radio"]:checked + label[for="hard"] {
    background-color: var(--difficulty-hard-label);
}

input[type="radio"] {
    visibility: hidden;
}

.category-container {
    background-color: #0d284e;
    padding-bottom: 2rem;
    margin-top: 3rem;
}

.category-heading {
    background-color: var(--section-header);
    width: 100%;
    padding: 1rem 1rem;
    color: black;
    width: 40%;
    margin: auto;
}

.difficulty-radiogroup > label {
    width: 90%;
}
