:root {
    --background-color: #081931;
    --hover-color: #103871;
    --selected-answer-color: rgb(255, 166, 0);
    --correct-answer-color: rgb(0, 109, 0);
    --wrong-answer-color: rgb(180, 0, 0);
    --timer-background-color: rgb(102, 0, 0);
    --correct-unanswered-color: green;
}


body {
    color: aliceblue;
    background-color: var(--background-color);
}

#timer {
    position: relative;
    right: 1%;
    top: 1%;
    position: fixed;
    text-align: center;
    background-color: var(--timer-background-color);
    border-radius: 2rem;
    padding: 0.8rem 0.1rem;
    width: 5.5rem;
}

input[type="radio"] {
    visibility: hidden;
    padding-left: 3rem;
    padding-right: 3rem;
    margin-left: 3%;
    
}

input[type="radio"]:checked + label > span{
    background-color: var(--selected-answer-color);
    color: black;
}

span:hover {
    background-color: var(--hover-color);
}

.radio_button {
    padding: 1rem;  
}

.correct-answer {
    background-color: var(--correct-answer-color) !important;
    color: white !important;
}

.wrong-answer {
    background-color: var(--wrong-answer-color) !important;
    color: white !important;
}

.correct-unanswered {
    /*border: 0.5rem solid var(--correct-unanswered-color);*/
    box-shadow: inset 0px 0px 0px 5px var(--correct-unanswered-color);
    margin: 2px 0px;
}

.dissabled-mouse {
    pointer-events: none;
}

span {
    display: inline-block;
    padding-left: 3rem;
    padding-right: 3rem;
}

.modal-dialog {
    color: black;
    margin-top: 10%;
}
